/* app css stylesheet */

.drum-machine {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.header {
    margin-left: 40px;
}

.play-button {
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
}

.tempo {
    width: 42px;
    margin-left: 5px;
    padding-left: 2px;
}

ol.instrument-list {
    list-style-type: none;
}

li.instrument {
    margin-bottom: 2px;
    
}

.instrument-name {
    cursor: pointer;
    vertical-align: middle;
    width: 90px;
    display: inline-block;
}

.beat {
    background: lightgray;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid black;
}

.beat.enabled {
    background: red
}

.beat.current {
    box-shadow:0px 0px 0px 1px blue inset;
}

.beat.new-measure {
    margin-left: 5px;
}
